<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <form method="POST" action="/edit/<%= emp.id %>">
  Name: <input type="text" name="name" value="<%= emp.name %>"><br>
  Email: <input type="email" name="email" value="<%= emp.email %>"><br>
  DOB: <input type="date" name="dob" value="<%= emp.dob.toISOString().slice(0, 10) %>"><br>
  Gender:
  <select name="gender">
    <option value="Male" <%= emp.gender === 'Male' ? 'selected' : '' %>>Male</option>
    <option value="Female" <%= emp.gender === 'Female' ? 'selected' : '' %>>Female</option>
    <option value="Other" <%= emp.gender === 'Other' ? 'selected' : '' %>>Other</option>
  </select><br>
  Designation: <input type="text" name="designation" value="<%= emp.designation %>"><br>
  <button type="submit">Update</button>
</form>

  
</body>
</html>