<!DOCTYPE html>
<html>
  <head>
    <title>Employee List</title>
  </head>
  <body>
    <h1>Employee Data</h1>
    <table border="1">
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Emal</th>
        <th>DatOfBirth</th>
        <th>Geneder</th>
        <th>designation</th>
         <th>Edit</th>
        <th></th>
      </tr>
      <% emp.forEach(function(emp) { %>
      <tr>
        <td><%= emp.id %></td>
        <td><%= emp.name %></td>
        <td><%= emp.email %></td>
        <td><%= new Date(emp.dob).toLocaleDateString("en-IN") %></td>
        <td><%= emp.gender %></td>
        <td><%= emp.designation %></td>
          <td>
    <a href="/edit/<%= emp.id %>">Edit</a>
  </td>

      </tr>
      <% }); %>
    </table>
  </body>
</html>
